
name: Download fedora oneplus6t
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      set_git_repo:
        description: "aarch64"
        required: true
        default: "fedora"


env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Compile
        id: compile
        run: |
          #curl -LO "https://github.com/fedora-remix-mobility/fedora-kiwi-descriptions/releases/download/2025-04-04/Fedora-SDM845-Remix.tar.xz"
          curl -LO "https://github.com/VerdandiTeam/droid-config-enchilada/releases/download/5.0.0.67/sailfishos-5.0.0.67-20260214-fajita-STABLE6-SLOT_a.zip"
          pwd
          #gzip -9 AuroraSDK-5.2.0.75-BT-release-windows-offline-25.10.29-18.59.46.exe
          ls -ltrh
          
          echo "::set-output name=status::success"
          

      - name: Upload file
        uses: actions/upload-artifact@v4
        with:
          name: sailfishos-5.0.0.67-20260214-fajita-STABLE6-SLOT_a
          path: ./*.zip

      - name: Upload image to Release
        uses: ncipollo/release-action@main
        if: steps.compile.outputs.status == 'success' && !cancelled()
        with:
          tag: sailfishos-5.0.0.67-20260214-fajita-STABLE6-SLOT_a_${{ env.COMPILE_STARTINGTIME }}
          artifacts: ./*.zip
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            This is sailfishos-5.0.0.67-20260214-fajita-STABLE6-SLOT_a_${{ env.LINUX_GITURL }}
