
name: Download fedora oneplus6t
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      set_git_repo:
        description: "aarch64"
        required: true
        default: "fedora"


env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Compile
        id: compile
        run: |
          #curl -LO "https://github.com/fedora-remix-mobility/fedora-kiwi-descriptions/releases/download/2025-04-04/Fedora-SDM845-Remix.tar.xz"
          curl -LO "https://github.com/pocketblue/pocketblue/releases/download/42.20251015/pocketblue-oneplus-sdm845-phosh-42.7z"
          pwd
          ls -ltrh
          
          echo "::set-output name=status::success"
          

      - name: Upload file
        uses: actions/upload-artifact@v4
        with:
          name: pocketblue-oneplus-sdm845-phosh-42
          path: ./*.7z

      - name: Upload image to Release
        uses: ncipollo/release-action@main
        if: steps.compile.outputs.status == 'success' && !cancelled()
        with:
          tag: pocketblue-oneplus-sdm845-phosh-42_${{ env.COMPILE_STARTINGTIME }}
          artifacts: ./*.7z
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            This is pocketblue-oneplus-sdm845-phosh-42_${{ env.LINUX_GITURL }}
